#about {
  margin-top: 3rem;
}

#about h3 {
  margin-top: 2rem;
  font-size: 25px;
}

#about .underline {
  width: 4rem;
  height: 0.3rem;
  background-color: #bc10d6;
  margin: 0 auto;
}

#about #cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5rem 0;
}

#about .liteCard {
  width: 30rem;
  height: 20rem;
  border-radius: 10px;
  padding: 0rem 4rem;
  margin: 5px;
  box-shadow: rgba(105, 1, 114, 0.2) 0px 2px 8px 0px;
  color: white;
  backdrop-filter: blur(5px);
  border: 0.1px solid #2b3002;
}

#about .liteCard:hover {
  cursor: pointer;
  transition: 0.5s;
  box-shadow: rgba(92, 1, 119, 0.25) 0px 54px 55px,
    rgba(77, 2, 83, 0.12) 0px -12px 30px, rgba(94, 1, 94, 0.12) 0px 4px 6px,
    rgba(72, 1, 78, 0.17) 0px 12px 13px, rgba(77, 1, 66, 0.09) 0px -3px 5px;
}

@media screen and (max-width: 600px) {
  #about h1 {
    font-size: 40px;
  }
}
